{% extends 'back.html.twig' %}

{% block title %}Recette index{% endblock %}

{% block body_back %}
    <h1>Recette index</h1>

    <a href="{{ path('app_recette_new') }}" class="btn btn-primary my-3">Créer une nouvelle recette</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Créé le</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recette in recettes %}
            <tr>
                <td>{{ recette.id }}</td>
                <td>{{ recette.titre }}</td>
                <!-- twig extension  -->
                <td>{{ recette.description | more(10) }}</td>
                <td>{{ recette.prix | info_prix }}</td>
                <td>{{ recette.dtCreation ? recette.dtCreation|date('d/m/Y H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_recette_show', {'id': recette.id}) }}">show</a>
                    <a href="{{ path('app_recette_edit', {'id': recette.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
