<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formation {{ nom }}</h1>
    <p>la formation dure {{ duree }} {{ unite }} et elle forme sur les sujets suivants :</p>
    <ul>
        {% for module in modules %}
            <li>{{ module }}</li>
        {% endfor %}
    </ul>
    <p>Elle a débuté le {{ dt_debut }}</p>
</body>
</html>
<!-- http://127.0.0.1:8000/formation -->