{% extends "base.html.twig" %}


{% block title %}page d'ajout d'utilisateurs{% endblock %}

{% block body %}

    <h1>Créer un profil User</h1>

    {# {{ form(form) }} #}

    {{ form_start(form) }}

    <section class="row">
        <div class="col-3">
            {{ form_row(form.prenom , { label : "Prénom * :" }) }}
        </div>
        <div class="col-3">
            {{ form_row(form.nom , { label : "Nom * : " }) }}
        </div>
        <div class="col-3">
            {{ form_row(form.age , { label : "Age * : " }) }}
        </div>
        <div class="col-3">
            {{ form_row(form.role, { label : "Rôle * : " }) }}
        </div>
        <div class="col-12">
            {{ form_row(form.cv , { label : "Présenter vous : " , attr : {
                 placeholder : "vos expériences, vos missions etc",
                 rows : 8,
                 class : 'border border-primary border-3'
            } }) }}
        </div>
        <div class="col-12 d-flex justify-content-end">
            {{ form_row(form.creer , { label : "Envoyer votre CV" , attr : {
                class : 'btn btn-danger btn-lg'
            } }) }}
        </div>
    </section>

    {{ form_end(form) }}

{% endblock %}