{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur mon site de recettes de cuisine{% endblock %}

{% block body %}
<div class="d-flex justify-content-between align-items-baseline mb-4">
    <h1>Bienvenue</h1>
    <a class="btn btn-info" href="{{ path("page_home" , { "trie" : trie }) }}">trie {{ trie == "asc" ? "croissant" : "décroissant"  }} par date de publication </a>
</div>

<section class="row">
    {% for recette in recettes %}
        <div class="col-3 mb-3">
            <article class="card">
                <a href="{{ path("app_recette_show" , { id : recette.id }) }}">
                    {{ image_recette(recette.image , 600 , 'card-img-top')  }}
                </a>
                <div class="card-body">
                    <h2 class="card-title h3">{{ recette.titre }}</h2>
                    <time datetime="{{ recette.dtCreation | date("Y-m-d H:i:s") }}" style="font-size:12px">publié le : {{ recette.dtCreation | date("d/m/Y") }}</time>
                    <p class="card-text">{{ recette.description | more ( 10 )}}</p>
                </div>
                <footer class="card-footer d-flex justify-content-between align-items-center">
                    <a href="{{ path("app_recette_show" , { id : recette.id }) }}" class="btn btn-dark btn-sm">voir +</a>
                    <!-- emojipedia -->
                    <span>{{ recette.commentaires | length }} 💬</span>
                    <span>{{ recette.prix |  info_prix }}</span>
                </footer>
            </article>
        </div>
    {% endfor %}
</section>

{% endblock %}
